{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Joshu
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Joshu</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
			{% if current_user.is_authenticated %}
			<li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Log Out</a></li>
			{% else %}
			<li><a href="{{ url_for('signup') }}"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Sign Up</a></li>
			<li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Log In</a></li>
			{% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-12 main">
		  <!--Message box-->
		  <div class="row placeholders msgdisplay" style="min-width: 92vw;"></div>
		
		  <!--Chat box-->
		  <div class="row placeholders" style="margin-bottom: 0px; margin-top: 0px; min-height: 16.3vh;">
			<form action="/" method="POST" class="form-signin">
			  <input type="text" class="msgbox"/>
			  <button class="btn btn-primary" style="min-height: 15.7vh; width: 8%; right: 10%;" type="submit">Send</button>
			  <button class="btn" style="color: white; background-color: #f24141; min-height: 15.7vh; width: 4%; right: 10%;" id="cancel">Exit</button>
			</form>
          </div>

        </div>
      </div>
    </div>

	<script type="text/javascript">
	// This connects us to the chat socket
	var socket = io.connect('http://' + document.domain + ':' + location.port);
	var chat_room = window.location.pathname.replace(/\"/g,"").slice(1);


	console.log(chat_room);
	{% if current_user.is_authenticated %}
	var user_name = "{{ current_user.username }}";
	{% else %}
	var user_name = "Anonymous";
	{% endif %}
	console.log(user_name)

	// Once we connect, we join the special room
	socket.on('connect', function() {
		socket.emit('join', {
			username: user_name,
			room: chat_room
		});
		$('form').on('submit', function(e) {
			e.preventDefault();
			let user_input = $('input.msgbox').val();
			socket.emit('message', {
				username: user_name,
				message: user_input,
				room: chat_room
			});
			$('input.msgbox').val('').focus();
		});
	});
	
	// Add the messages sent and received to the display
	socket.on('response', function(msg) {
        console.log(msg);
		if (msg.message) {
			if (msg.username == user_name) {
				$('div.msgdisplay').append('<span style="color: blue;"><b>'+msg.username+': </b></span>'+msg.message+'<br>');
			} else {
				$('div.msgdisplay').append('<span style="color: red;"><b>'+msg.username+': </b></span>'+msg.message+'<br>');
			}
		}
      });

	function httpGet(theUrl) {
		var xmlHttp = new XMLHttpRequest();
		xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
		xmlHttp.send( null );
		return xmlHttp.responseText;
	}

	// Exit the chat session
	function exit_chat() {
		// Open modal dialog box to confirm exit
		
		// Exit chat room for socketio
		socket.emit('exit', {
			username: user_name,
			room: chat_room
		});

		// Redirect to index page
		window.location = "/";
	}
	
	// Exit when closing window
	window.onbeforeunload = function(e) {
		exit = httpGet('http://' + document.domain + ":" + location.port + '/chatdrop');
		exit_chat();
	}

	// Exit when pressing "Exit" button
	$('#cancel').click(function() {
		exit = httpGet('http://' + document.domain + ":" + location.port + '/chatdrop');
		exit_chat();
	});

    </script>

{% endblock %}
