{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Joshu - Help Desk
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='joshu_functions.js') }}"></script>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Joshu Admin Portal</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">

	  <ul id="queue_list" class="nav nav-sidebar">
			<li style="color: green; left: 20px; cursor: pointer;" class="queue_button"><span class="glyphicon glyphicon-ok-sign"></span> <b>JOIN QUEUE</b></li>
          </ul>

	  <!--List of online admins-->
          <ul class="chat_list nav nav-sidebar">
			<li class="header"><a href="#" style="color: black; cursor: default;"><b>Admins Online</b><span class="sr-only">(current)</span></a></li>
			{% for chat_url, user in admin_urls %}
			{% if user != current_user.username %}
			<li class="chat_item" value="{{ chat_url }}"><a href="#"><span class="glyphicon glyphicon-user"></span> {{ user }}</a></li>
			{% endif %}
			{% endfor %}
          </ul>
	  <!--List of anonymous chats-->
	  <ul class="chat_list nav nav-sidebar anon_chat">
			<li class="header"><a href="#" style="color: black; cursor: default;"><b>Active Chats</b><span class="sr-only">(current)</span></a></li>
          </ul>

        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		  <!--Message box-->
          <div class="msgdisplay row placeholders" style="min-width: 77vw;"></div>
		
		  <!--Chat box-->
		  <div class="row placeholders" style="margin-bottom: 0px; margin-top: 0px; min-height: 16.3vh;">
			<form action="/dashboard" method="POST" id="msg-send">
			  <input type="text" class="msgbox"/>
			  <button class="btn-primary" style="min-height: 15.7vh; width: 7%;" type="submit">Send</button>
			  <button class="btn" style="color: white; background-color: #f24141; min-height: 15.7vh; width: 5% right: 10%;" id="cancel">Exit</button>
			</form>
		  </div>

        </div>
      </div>
    </div>

	<script type="text/javascript">
		// HTTP GET function to a URL
		function httpGet(theUrl) {
			var xmlHttp = new XMLHttpRequest();
			xmlHttp.open("GET", theUrl, false);
			xmlHttp.send(null);
			return xmlHttp.responseText;
		}
	
		// Wait # of ms
		function sleep(ms) {
			return new Promise(resolve=> setTimeout(resolve, ms));
		}

		// Exit a chat room
		function exit_chat() {
			socket.emit('exit', {
				username: user_name,
				room: chat_room
			});
		}


		var inQueue = false;
		var user_name = "{{ current_user.username }}";
		var anon_chat_room = null;
		var chat_room = null;
		var current_chat_item = null;
		var chat_partner_type = null;
		var target = null;

		async function loop(queue_obj) {
			var chat_response;
			// Check /chatsession to get a chat room
			while (inQueue == true) {
				chat_response = httpGet('http://' + document.domain + ":" + location.port + '/chatsession');
				if (chat_response != "") {
					anon_chat_room = JSON.parse(chat_response).chat_url;
					inQueue = false;
				}
				await sleep(2000);
			}
			if (anon_chat_room != null) {
				// Add the new anon listing
				$('ul.anon_chat').append('<li class="chat_item" value="' + anon_chat_room + '"><a href="#"><span class="glyphicon glyphicon-user"></span> Anonymous</a></li>');
				// Remove them from queue after
				queue_obj.removeClass("in_queue");
				queue_obj.css('color', 'green');
				queue_obj.children('b').text("JOIN QUEUE");
				queue_obj.children('span').removeClass("glyphicon-remove-sign")
				queue_obj.children('span').addClass("glyphicon-ok-sign")
				httpGet("http://" + document.domain + ":" + location.port + "/queuedrop");
			}
		}

		// Detect when admin toggles queue button
		$('#queue_list li').click(function() {
			if ($(this).hasClass("in_queue")) {
				// Set the admin to unavailable - remove them from queue
				$(this).removeClass("in_queue");
				$(this).css('color', 'green');
				$(this).children('b').text("JOIN QUEUE");
				$(this).children('span').removeClass("glyphicon-remove-sign")
				$(this).children('span').addClass("glyphicon-ok-sign")
				httpGet("http://" + document.domain + ":" + location.port + "/queuedrop");
				inQueue = false;
			} else {
				// Set the admin to available - add them to queue
				inQueue = true;
				$(this).addClass("in_queue")
				$(this).css('color', 'red');
				$(this).children('b').text("EXIT QUEUE");
				$(this).children('span').removeClass("glyphicon-ok-sign")
				$(this).children('span').addClass("glyphicon-remove-sign")
				httpGet("http://" + document.domain + ":" + location.port + "/queue");
				inQueue = true;
				// Loop to check for a chat session
				loop($(this));
			}
		});

		// Connect to socketio
		var socket = io.connect('http://' + document.domain + ":" + location.port);


		// Detect when a chat session is clicked in the dashboard - must not be a header
		$('ul.chat_list').on("click", "li.chat_item", function() {
			console.log("Click!");
			// Change back color of previously clicked
			if (current_chat_item != null) {
				current_chat_item.removeClass("selected_chat");
			}
			current_chat_item = $(this);
			$(this).addClass("selected_chat");

			// Clear message display
			$('div.msgdisplay').empty();

			// Get the person we want to talk to
			target = $(this).text().replace(/ /g,'');
			if (target == "Anonymous") {
				chat_partner_type = "anon";
				$('button.btn').css('display', 'inline-block');
				$('button.btn-primary').css('width', '7%');
			} else {
				chat_partner_type = "admin";
				// Hide the exit button when talking to an admin
				$('button.btn').css('display', 'none');
				$('button.btn-primary').css('width', '12%');
			}

			console.log("Target: " + target);

			// If we are in a chat room, exit before switching
			if (chat_room != null) {
				exit_chat();
			}
			
			// Get the chatroom for the person clicked
			chat_room = $(this).attr("value");

			// Join the new chat room
			socket.emit('join', {
				username: user_name,
				room: chat_room
			});

			console.log("Joined room: " + chat_room);

			// Ping our server to get chat history the chat session and put it up on the msgdisplay
			chat_history = httpGet("http://" + document.domain + ":" + location.port + "/messages?room=" + chat_room);
			var chat_list = JSON.parse(chat_history).chats;
			for (var i = 0; i < chat_list.length; i++) {
				var chat = chat_list[i];
				if (chat.sender == user_name) {
					$('div.msgdisplay').append('<span style="color: blue;"><b>' + chat.sender + ": </b></span>" + chat.content + "<br>");
				} else {
					if (chat.sender.length > 20) {
						$('div.msgdisplay').append('<span style="color: red;"><b>Anonymous: </b></span>' + chat.content + "<br>");
					} else {
						$('div.msgdisplay').append('<span style="color: red;"><b>' + chat.sender + ": </b></span>" + chat.content + "<br>");
					}
				}
			}

			// Force msgdisplay to show the bottom (most recent messages)
			$('div.msgdisplay').scrollTop($('div.msgdisplay')[0].scrollHeight);
		});

		// Send out message to chat room, if connected
		$('form').on('submit', function(e) {
			e.preventDefault();
			if (chat_room != null) {
				let user_input = $('input.msgbox').val();
				console.log(user_input);
				socket.emit('message', {
					username: user_name,
					message: user_input,
					recipient: target,
					room: chat_room
				});
			}
			$('input.msgbox').val('').focus();
		});
		
		// Receive messages and draw to the display
		socket.on('response', function(msg) {
			if ((chat_room != null) && (msg.message)) {
				if (msg.username == user_name) {
					$('div.msgdisplay').append('<span style="color: blue;"><b>' + msg.username + ": </b></span>" + msg.message + "<br>");
				} else {
					$('div.msgdisplay').append('<span style="color: red;"><b>' + msg.username + ": </b></span>" + msg.message + "<br>");
				}
				// Keep msgdisplay at bottom
				$('div.msgdisplay').scrollTop($('div.msgdisplay')[0].scrollHeight);
			}
		});

		// When exiting the dashboard page
		window.onbeforeunload = function(e) {
			// Exit our current chatroom
			exit_chat();
			// If we are in a chat with a user, drop that chat
			if ($('li.anon_item').length) {
				exit = httpGet('http://' + document.domain + ":" + location.port + '/chatdrop');
			}
		}

		// When exit button is clicked during a chat with a user
		$('button.btn').on('click', function() {
			anon_chat_room = null;
			exit = httpGet('http://' + document.domain + ":" + location.port + '/chatdrop');
			exit_chat();
		});

	</script>
{% endblock %}
