{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Joshu
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Joshu</a>
        </div>
		<div class="col-sm-3 col-md-3">
		  <form class="navbar-form" role="search" action="/search" method="POST">
			<div class="input-group">
			  <input type="text" class="form-control" placeholder="Search" name="q">
			  <div class="input-group-btn">
				<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
			  </div>
			</div>
		  </form>
		</div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
			{% if current_user.is_authenticated %}
			<li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Log Out</a></li>
			{% else %}
			<li><a href="{{ url_for('signup') }}"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Sign Up</a></li>
			<li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Log In</a></li>
			{% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-12 main">
		  <!--Banner and image box-->
		  <h1>{{ message }}</h1>
		  <div>Hello this is a banner</div>
		
		  <!--Buttons that lead to login or queue-->
		  <form action="/login">
			<input class="btn" type="submit" value="Login as technician">
		  </form>
		  <br>
		  <form action="/queue">
			<input class="btn btn-primary" type="submit" value="Get help">
		  </form>
		  <form action="/upload">
			<input class="btn btn-primary" type="submit" value="Upload file">
		  </form>
        </div>
      </div>
    </div>
{% endblock %}
