{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Joshu
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Joshu</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
			{% if current_user.is_authenticated %}
			<li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Log Out</a></li>
			{% else %}
			<li><a href="{{ url_for('signup') }}"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Sign Up</a></li>
			<li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Log In</a></li>
			{% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-12 main">
		  <!--Banner and image box-->
		  <div>{{ status }}</div>
		  <!--Buttons that lead to login or queue-->
		  <form action="/upload" method="POST" enctype="multipart/form-data">
			<input class="btn" type="file" name="file">
			<input class="btn" type="submit" value="Upload">
		  </form>
        </div>
      </div>
    </div>
{% endblock %}
